* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 20px;
  }
  
  form {
    padding: 0 20px 20px;
    border-bottom: 1px solid skyblue;
    display: grid;
    width: 300px;
  }
  
  input {
    border-radius: 20px;
    border: 2px solid skyblue;
    margin: 0 5px 5px;
    font-size: 1.1rem;
    text-align: center;
  }
  
  input[type="submit"] {
    cursor: pointer;
    width: 100px;
    margin-left: auto;
    transition: 0.2s;
  }
  
  input[type="submit"]:hover {
    background: skyblue;
  }
  
  .message-container {
    display: grid;
    grid-template-columns: 70% 15% 15%;
    align-items: center;
    background: skyblue;
    border-radius: 10px;
    text-align: center;
    margin: 5px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.169);
    max-width: 600px;
  }
  
  p {
    text-align: left;
    padding-left: 20px;
  }
  
  #delete {
    cursor: pointer;
    transition: 0.2s;
    padding: 10px;
}
#delete:hover {
  transform: scaleY(1.3);
  color: white;
}
